# Ignore Binaries
*
!*.*
!*/
*.o
bin/
*/bin/*
target/
*/target/*
a.out

Contest/
nimcache/
_build/
node_modules/
Yukicoder/
AtCorder/
Projects/
AOJ/
Private/
mkanenobu.github.io/
python/paiza/
Experiment/

