# Ignore Binaries
*
!*.*
!*/
*.o
bin/
*/bin/*
target/
*/target/*
*.out

__pycache__
Contest/
nimcache/
CTF/
_build/
node_modules/
Yukicoder/
AtCorder/
Projects/
AOJ/
Private/
mkanenobu.github.io/
python/paiza/
Experiment/
tarai_benchmarks/
