body {
  background-color: #ddd;
  width: 840px;
  margin: 0 auto;
}

p {
  margin: 0;
}

pre {
  padding-left: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  margin: .8em auto;
  background-color: #1c1c1c;
  color: #eee;
}
code{
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  background-color: #1c1c1c;
  color: #eee;
}
