!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Datetime
  %body
    %div#main
      %table
        %tr
          %th Locale
          %th Time
        %tr
          %td Current locale:
          %td #{@current}
        %tr
          %td UTC:
          %td #{@utc}
